include ../checkbox/checkbox
include ../button/button
include ../label/label
include ../slogan/slogan
include ../navbar/navbar
include ../slider/slider
include ../infocard/infocard
include ../button-more/button-more
include ../more-about/more-about
include ../contacts/contacts
include ../news/news
include ../date-news/date-news
include ../contact-item/contact-item
include ../footer-nav/footer-nav

mixin logo
	include ../logo/logo
