//////////////ЗАГОЛОВКИ////////////////////
.label {
  margin: 0;
  font-family: $mainFont;
  font-weight: $mainFontWeight;

  &_h1-style {
    font-size: rem($headerFontSize);
  }

  &_h2-style {
    font-size: rem($featureFontSize);
  }

  &_h3-style {
    font-size: rem($mainFontSize);
  }

  &_h4-style {
    font-size: rem($blogHFontSize);
    font-weight: $boldFontWeight;
  }

}
