.footer-nav {
  display: flex;
  align-items: center;
  font-weight: lighter;
  height: rem(9);

  &__navitem {
    font-size: rem(9);
    color: #545454;
    flex-basis: auto;

    &:hover {
      color: black;
    }
  }

  &__line {
    width: 1px;
    height: rem(9);
    background: #545454;
    margin: 0 rem(8);
    
    &:last-child {
      display: none;
    }
  }
}
