
mixin footer-nav(props)
    nav.footer-nav
        - for (var i=0; i < props.length; i++) {
            a.footer-nav__navitem(href=props[i].url) #{props[i].name}
            .footer-nav__line
        - };
