.readMoreLink {
  text-align: left;
  display: flex;

  &__link {
    align-self: flex-end;
    @include duration($duration/2);

    &:hover {
      color: gray;
    }

    &:focus {
      outline: none;
      text-decoration: underline;
      text-decoration-style: dotted;
      text-decoration-color: gray;
    }
  }

  &_whiteMode {
    color: $white-color;
    font-size: rem($mainFontSize);
  }

  &_blackMode {
    color: $black-color;
    font-size: rem($smallFontSize);
  }
}
