-
    var headerTitle ="Our Best Blogs Ever";
    var overTitle ="“Try our blog to find the best tips and tricks to select your gift”";


block header
    header.header
        +label({
            text: headerTitle,
            mods:"h1-style"
        }).header__title
        +label({
            text: overTitle,
            mods:"h3-style"
        }).header__overTitle

