extends ../main

block variables
    - var pageTitle = "Test for ";
    - var description = "Main page";
    - var pageClass = "main-page";

block content
    section.feature
        header.feature__header
            +label({
                text: "FEATURED PRODUCTS",
                mods: "h3-style"
            })

    section.blogs

