.infocard {
  display: flex;
  flex-direction: column;

  width: rem(450);
  background: inherit;

  &__img-wrap {
    @include size(100%, rem(200));
    background-image: url("~@images/image2.png");
    background-size: 100%;
    padding: rem(68) rem(19);
  }

  &_white {
    color: white;
  }

  &__content {
    font-family: $infotextFont;
    font-weight: bold;
    margin-top: rem(6);
    border-top: 1px solid black;
    padding-top: rem(15);
  }

  &__button {
    align-self: flex-end;
  }
}
