@import "utils/libs";
@import "utils/fonts";
@import "utils/vars";
@import "utils/mixins";

html { //уменьшение размера текста, в зависимости от ширины экрана
  line-height: $mainLineHeight;
  font-size: $mainFontSize;
  color: $mainFontColor;
  height: 100%;
  @media screen and (max-width: $desktopWidth) {
    font-size: $mainFontSize;
  }
  @media screen and (max-width: $tableWidth) {
    font-size: $mainFontSize - 2px;
  }
  @media screen and (max-width: $phoneWidth) {
    font-size: $mainFontSize - 4px;
  }
}

body {
  background: $body-background;
  margin: 0;
  padding: 10px;
  font-family: $mainFont;
  font-weight: $mainFontWeight;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

//Resets//
a { text-decoration: none; }


section, .section {
  position: relative;
}

.wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background: white;
  max-width: $desktopWidth;
}

.content-header {
  margin-bottom: rem(10);
}

.content-wrapper {
  display: flex;
  flex-direction: column;
}

.blogs-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: $desktopWidth;
  flex-wrap: wrap;
  padding: rem(40) 0 rem(20) 0;

   @media screen and (max-width: 1169px) {
    justify-content: center;
  }
}

.container {
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  box-sizing: border-box;
  max-width: $desktopWidth;

  //меняет размеры основного экрана контента
  @media screen and (max-width: $desktopWidth) {
    max-width: $smDesktopWidth;
  }
  @media screen and (max-width: $smDesktopWidth) {
    max-width: $tableWidth;
  }
  @media screen and (max-width: $tableWidth) {
    max-width: $phoneWidth;
  }
  @media screen and (max-width: $phoneWidth) {
    max-width: $smPhoneWidth;
  }
}

/////////////////////////////////////////////////
////////// Modules//////////////////////////////
@import "bem/blocks-library/blocks-library";
@import "includes/includes";
