mixin slider
    .slider
        .slider__wrap
            img.slider__img(title="image" src=require("@images/image1.png") alt="comodo")
            .slider__nav-wrap
                button.slider__button-left
                span.slider__text Lipsum comoodo Manager
                button.slider__button-right
