.button {

  &__link {
    // display: inline-block;
  }


  &__text {
    display: inline-block;
    border-radius: rem(25);
    color: $purple-color;
    @include duration($duration/2);

    &_filled {
      color: $white-color;
      background-image: $gradient;
      padding: rem(15) rem(20);
    }

    &_bordered {
      border: solid {
        width: rem(2);
        color: transparent;
        };
      padding: rem(13) rem(18);
      background: {
        image: linear-gradient($white-color, $white-color),
         linear-gradient($white-color, $white-color),
         $gradient;
        clip: content-box, padding-box, border-box;
        };
    }
    
    &_none:hover, &_none.button__text_hovered {
      color: $dark-100;
    }

    &:hover, &_hovered {
      opacity: .5;
    }

  }
}
