
.buttonShowMore {
  @include size(rem(198), rem(54));

  background-color: $white-color;
  border: 1px solid $orange-color;
  border-radius: rem(5);

  color: $orange-color;
  font-size: $mainFontSize;
  font-weight: $mainFontWeight;
  text-transform: uppercase;
  text-align: center;

  cursor: pointer;
  @include duration($duration);

  &:hover {
    color: $white-color;
    background: $orange-color;
  }

  &:focus {
    outline: none;
    box-shadow: 1px 1px 2px black;
  }
}
