.date-news {
  display: flex;
  border-bottom: 1px dotted #636363;
  padding-bottom: rem(10);
  margin-top: rem(20);

  &__date {
    border-right: 1px solid #c7c7c7;
    padding: {
      top: rem(3);
      left: rem(4);
      bottom: rem(2);
    }
    flex-basis: rem(32);
    flex-shrink: 0;
    align-self: flex-start;

    &__number {
      color: #f2ac04;
      padding-bottom: rem(7);
    }

    &__mounth {
      font-family: $font-for-mounth;
      font-size: rem(9);
      line-height: rem(9);
      font-weight: bold;
      text-transform: uppercase;
      color: #777;
    }
  }

  &__article {
    padding-left: rem(10);

    &__header {
      font-family: $infotextFont;
      font-size: rem(16);
      font-weight: bold;
      line-height: rem(22);
      color: #565656;
    }

    &__content {
      font-family: $tahomaFont;
      font-size: rem(13);
      color: #939393;
      line-height: rem(20);
    }
  }
}
