
mixin date-news(params)

    -
        //Проверка на миксин без параметров так как
        //при пустом params, не деструктурируются значения по умолчанию
        if (!params) { var params = {date_number: '77'}; }

        let {
            date_number = '27',
            mounth = 'NOV',
            header = 'An early access preview',
            content ='An early access preview of the Orlin Data Manager is available.'
            } = params

    .date-news
        .date-news__date
            +label({text: date_number, mods: 'h4-style'}).date-news__date__number
            p.date-news__date__mounth #{mounth}

        article.date-news__article
            header.date-news__article__header #{header}
            p.date-news__article__content #{content}
