-
    let contacts_header = "Contact Us";

mixin contacts
    .contacts
        +label({ text: contacts_header, mods: 'h4-style', tag: 'header'}).contacts__header
        +contact-item('phone')
        +contact-item('fax')
        +contact-item('mail', 'info@orlinresearch.com')
        +contact-item('home', 'Orlin Research, Inc. 7412 Ridgewood Ave Chevy Chase, MD 20815')
