-
    var header = "LATEST NEWS"

mixin news
    .news
        header.news__header
            +label({text: header, mods: 'h4-style'})
        +date-news({date_number: '23'})
        +date-news({date_number: '05', mounth: 'dec'})
        +date-news({date_number: '17', mounth: 'jan'})
