//- mixin item(title, descr)
//-   .item
//-     h2.item-title(class=`my_${title.replace(/\s/g, '')}-7`)= title
//-     p.item-descr(style={color: `${descr}`, background: `light${descr}`})= descr

//- mixin foot(size=25,minus=0)
//-   .container
//-     - var z = size+minus
//-     span(style=`font-size: ${z}px`)= 'Just a SIZE of '+ z + 'px'
