// Font

$mainFont                : Gilroy, Montserrat, Helvetica, Arial, sans-serif;

// Main color
$black-color             : #000;
$white-color             : #fff;

$body-background         : $white-color;
$feature-background      : #231F20;

//animation
$duration                : .6s; // время анимаций

// Size
$mainFontColor           : $black-color;
$smallFontSize           : 14px;
$mainFontSize            : 18px;
$blogHFontSize           : 24px;
$headerFontSize          : 32px;
$featureFontSize         : 48px;
$mainFontWeight          : 400;
$boldFontWeight          : 700;
$mainLineHeight          : 140%;

// Media
$maxDesktopWidth         : 1440px;
$desktopWidth            : 1170px;
$smDesktopWidth          : 1024px; //было 980px
$tableWidth              : 768px;
$phoneWidth              : 480px;
$smPhoneWidth            : 320px;
