-
  var footer_navItems = [
    {name: 'HOME', url: "#"},
    {name: 'ABOUT_US', url: "#"},
    {name: 'WORK', url: "#"},
    {name: 'SERVICES', url: "#"},
    {name: 'RESOURCES', url: "#"},
    {name: 'ARTICLES', url: "#"},
    {name: 'CONTACT', url: "#"}
  ];

footer.footer
   .footer__logo
       +logo
   .footer__nav
       +footer-nav(footer_navItems)
   .footer__copyrights © 2009 Orlin Research, Inc
