.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height:42px;
  border-top: 1px solid $border-gray-color;
  font-size: rem(13);

  &__navitem {
    color: $nav-gray-color;
    padding-right: rem(7);
    flex-grow: 1;

    //прижал их к левому краю
    &:last-child {
      flex-grow: 5;
    }

    &:hover {
      color: black;
      @include duration($duration);
    }
  }
}
